.filter_cont {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 80px;
  padding: 0 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
}

.filter_item {
  border: 1px solid black;
  height: 20px;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 5px;
}

.filter_selected {
  background-color: black;
  color: wheat;
}

@media (max-width: 450px) {
  .filter_cont {
    min-height: 100px;
    margin-bottom: 10px;
  }
  .filter_item {
    padding: 2px 7px;
    border-radius: 14px;
  }
}
