.book_list {
  position: relative;
  margin-top: 130px; /* для фиксед*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 15px;
  z-index: 1;
}

.book_not {
  padding: 0 50px;
}

.book_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 330px;
  /* width: calc(24% - 20px); */
  width: 9rem;
  overflow: hidden;
  padding: 5px 10px;
  margin-bottom: 20px;
  /* border: 1px black solid; */
}

.book_card_title {
  color: brown;
  max-height: 70px;
  padding: 0 8px;
  padding-top: 5px;
  font-size: 16px;
}

.book_card_category_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 26px;
}

.book_card_category {
  font-size: 12px;
  color: gray;
  padding-left: 5px;
}

.book_card_author_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 26px;
  /* padding: 4px 8px; */
  /* line-height: 12px; */
  /* overflow: hidden; */
}
.book_svg {
  min-height: 15px;
  min-width: 15px;
}

.book_card_author {
  font-size: 12px;
  color: gray;
  padding-left: 5px;
  max-width: 140px;
  text-align: left;
}

.book_card_img {
  width: 100%;
  height: 100%; /* Или установи свою высоту */
  object-fit: contain; /* Чтобы изображение не деформировалось */
  border-radius: 6px;
}

@media (max-width: 450px) {
  .book_list {
    margin-top: 180px;
    padding-right: 5px;
    /* max-height: 450px; */
    /* background-color: rgba(235, 209, 232, 0.5); */
  }
  .book_card {
    min-height: 350px;
    width: 43%;
  }
  .book_card_title {
    padding: 5px 15px;
  }
}
@media (max-width: 310px) {
  .book_card {
    width: 40%;
    min-height: 120px;
  }
}
