* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./assets/home.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
