* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./assets/home.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background-color: rgba(147, 49, 49, 0.2);
  padding-right: 10px;
}

.header_icon {
  padding: 0 10px;
}

.header_link {
  font-size: 14px;
  text-decoration: none;
  padding: 0 10px;

  color: black;
}

.active {
  color: rgb(125, 125, 26);
}
.book_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.book_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 200px;
  width: calc(24% - 20px);
  overflow: hidden;
  padding: 5px 5px;
}

.book_card_author {
  font-size: 10px;
  color: gray;
}

.book_card img {
  width: 100%;
  height: 200px; /* Или установи свою высоту */
  object-fit: cover; /* Чтобы изображение не деформировалось */
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: rgba(120, 73, 73, 0.4);
}

.footer_title {
  font-size: 12px;
}

@media (max-width: 400px) {
  .book_card {
    width: 45%; /* Карточки будут занимать всю ширину экрана */
  }
}
