* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./assets/home.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
} */

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0; /* Чтобы контент был поверх */
}

.container::before {
  content: '';
  position: fixed; /* Фиксируем фон */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/home.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Не обязателен, но можно оставить */
  z-index: -1; /* Отправляем фон назад */
}
